name: Build ZMK firmware

on:
  workflow_dispatch:
  push:
    paths:
      - config/**
      - .github/workflows/build.yml

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      shield: |
        lily58_left
        lily58_right
      board: nice_nano_v2
