name: Build ZMK firmware

on:
  workflow_dispatch:
  push:
    paths:
      - config/**
      - .github/workflows/build.yml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Lily58 Left
        uses: zmkfirmware/zmk/.github/workflows/build.yml@main
        with:
          board: nice_nano_v2
          shield: lily58_left

      - name: Build Lily58 Right
        uses: zmkfirmware/zmk/.github/workflows/build.yml@main
        with:
          board: nice_nano_v2
          shield: lily58_right
